*{
    box-sizing:  border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80");
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
}
.header h1{
    font-size: 2rem;
}
.container{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    margin: auto 0px;
    position : relative;
}
.container.shrink{
    animation : shrink 3s linear;
}
.container.expand{
    animation : expand 3s linear forwards;
}
.gradient-circle{
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background : conic-gradient(rgb(3, 243, 243) 144deg, white 144deg 216deg, rgb(41, 153, 153) 216deg 360deg)
    
}
.big-circle{
    position : absolute;
    top: 20px;
    left: 20px;
    bottom : 20px;
    right: 20px;
    background-color: rgb(18, 51, 51);
    border-radius: 50%;
    display : flex;
    align-items:  center;
    justify-content: center;
}
.pointer-container{
   position : absolute;
   top: -25px;
   left: calc(150px - 10px);
   height: 175px;
   transform-origin: center bottom;
   animation: rotate 7.5s linear forwards infinite;

}
.pointer{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

@keyframes rotate{
    from{
        transform : rotate(0deg);
    }
    to{
        transform : rotate(360deg)
    }
}
@keyframes shrink{
    from{
        transform : scale(1.2);
    }
    to{
        transform : scale(1);
    }
}
@keyframes expand {
    from{
        transform : scale(1)
    }
    to{
        transform : scale(1.2)
    }   
}